@font-face {
  font-family: "ChevyRayLantern";
  src: url("../assets/ChevyRay\ -\ Lantern.ttf");
}

@font-face {
  font-family: "ChevyRayLoveBug";
  src: url("../assets/ChevyRay\ -\ Love\ Bug.ttf");
}

body {
  font-family: "ChevyRayLoveBug", sans-serif;

  font-size: 24px;
  cursor: pointer;
}

.tile {
  & > * {
    position: absolute;
  }

  :not(:first-child):hover {
    // transform: scale(1.2);
    // transform-origin: center;
    // transition-timing-function: ease-out;
    // transition-duration: 100ms;
    // z-index: 1;
  }

  .selector {
    & > * {
      position: absolute;
    }
  }
}
