@font-face {
  font-family: "ChevyRayLantern";
  src: url("../assets/ChevyRay\ -\ Lantern.ttf");
}

@font-face {
  font-family: "ChevyRayLoveBug";
  src: url("../assets/ChevyRay\ -\ Love\ Bug.ttf");
}

body {
  font-family: "ChevyRayLoveBug", sans-serif;

  font-size: 24px;
  cursor: pointer;

  margin: 0;
}

.tile {
  & > * {
    position: absolute;
  }

  :not(:first-child):hover {
    // transform: scale(1.2);
    // transform-origin: center;
    // transition-timing-function: ease-out;
    // transition-duration: 100ms;
    // z-index: 1;
  }

  .selector {
    & > * {
      position: absolute;
    }
  }
}

.health-bar {
  display: flex;
  flex-direction: row;

  margin-top: 4px;
}

.score-bar {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
  }

  :first-child {
    flex: 1;
  }
}

.heart-container {
  position: relative;

  & > * {
    position: absolute;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes highlight {
  from {
    backdrop-filter: hue-rotate(0deg);
  }

  to {
    backdrop-filter: hue-rotate(360deg);
  }
}

.highlight-anim {
  animation-name: highlight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1000ms;
  animation-timing-function: linear;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: 3px solid black;
  padding: 8px;
  border-radius: 4px;

  &:hover {
    background-color: aliceblue;
    cursor: pointer;
  }
}

@keyframes white-flash {
  from {
    backdrop-filter: brightness(100%);
  }

  to {
    backdrop-filter: brightness(1000%);
  }
}

.white-flash-anim {
  animation-name: white-flash;
  animation-iteration-count: 2;
  animation-duration: 100ms;
  animation-timing-function: linear;
}
