@font-face {
  font-family: "ChevyRayLantern";
  src: url("../assets/ChevyRay\ -\ Lantern.ttf");
}

@font-face {
  font-family: "ChevyRayLoveBug";
  src: url("../assets/ChevyRay\ -\ Love\ Bug.ttf");
}

body {
  font-family: "ChevyRayLoveBug", sans-serif;

  font-size: 24px;
  cursor: pointer;
}

.tile {
  & > * {
    position: absolute;
  }

  :not(:first-child):hover {
    // transform: scale(1.2);
    // transform-origin: center;
    // transition-timing-function: ease-out;
    // transition-duration: 100ms;
    // z-index: 1;
  }

  .selector {
    & > * {
      position: absolute;
    }
  }
}

.health-bar {
  display: flex;
  flex-direction: row;
}

.score-bar {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
  }

  :first-child {
    flex: 1;
  }
}

.container {
  width: fit-content;
  margin: 0 auto;
}

@keyframes highlight {
  from {
    backdrop-filter: hue-rotate(0deg);
  }

  to {
    backdrop-filter: hue-rotate(360deg);
  }
}

.highlight-anim {
  animation-name: highlight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1000ms;
  animation-timing-function: linear;
}
